{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
	<form method="POST">
		Log In: <input type="text" id="login"><br>
		Password: <input type="password" id="passw"><br>
		<input type="submit" value="login" name="loginbutton"> 
		<input type="submit" value="OFF" name="switch">
		<input type="submit" value="ON" name="switch">
		<input type="submit" value="BLINK" name="blink">
		<div class="input-field col s6">
	 						<input type="text" id="fname" autofocus>
	 						<label for="fname">FIRSTNAME</label>
	 					</div>	
						<div class="input-field col s6">
	 						<input type="text" id="lname">
	 						<label for="lname">LASTNAME</label>
	 					</div>	
						<div class="input-field col s6">
	 						<input type="text" id="description">
	 						<label for="description">DESCRIPTION</label>
	 					</div>
	 					<div class="input-field col s6">
	 						<input type="text" id="username">
	 						<label for="username">USERNAME</label>
	 					</div>		
	 					<div class="input-field col s6">
	 						<input type="password" id="password">
	 						<label for="password">PASSWORD</label>
	 					</div>	
						<div class="input-field col s6">
							<button class="btn waves-effect waves-light indigo darken-4" onclick="location.assign('add-person')" id="Addbtn">
							<i class="material-icons">save SAVE</i></button>
	 					</div>
		<a href="layout2.jinja2">blah</a>
	</form>
</div>
{% endblock content %}
